@model IssueTracker.Models.IssueModel

@using (Html.BeginForm("CreateIssuePartialView", "Issue"))

{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Create new issue</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateTimeDeadline, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateTimeDeadline, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.DateTimeDeadline, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Priority" class="form-control">
                <option value="None">None</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Status" class="form-control">
                <option value="Open">Open</option>
                <option value="In progress">In progress</option>
                <option value="Medium">Additional info required</option>
                <option value="Closed">Closed</option>
            </select>
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Type" class="form-control">
                <option value="Bug">Bug</option>
                <option value="Error">Error</option>
                <option value="Feature request">Feature request</option>
                <option value="Document request">Document request</option>
                <option value="Other">Other</option>
            </select>
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AssigneeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="AssigneeID" class="form-control" id="createIssueSelectEmail">
                <option value=""></option>
                @Html.Action("AllEmailAndIDInProject", "Issue", new {projectID = @ViewBag.projectID });
            </select>
            @Html.ValidationMessageFor(model => model.AssigneeID, "", new { @class = "text-danger" })
        </div>
    </div>


    <input name="ProjectID" style="display:none" value="@ViewBag.projectID" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

