@model IEnumerable<IssueTracker.Models.IssueModel>

<table class="table" id="issuesAssignedTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssigneeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th></th>

            @*            <th>
                    @Html.DisplayNameFor(model => model.Assignee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectID)
                </th>
                <th></th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AssigneeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                </td>
                <td>
                    @Html.ActionLink("Details", "ViewIssue", "Issue", new { issueID = item.IssueID }, null)
                </td>

                @*            <td>
                        @Html.DisplayFor(modelItem => item.IssueID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Assignee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>

</table>
