@model IssueTracker.Models.ProjectModel

@{
    ViewBag.Title = "View projects";
}

<h2>Project - @Html.DisplayFor(model => model.Name)</h2>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a href="#about" class="nav-link" data-toggle="tab">About</a>
    </li>
    @if (Model.IsCreatorOrAdmin)
    {
        <li class="nav-item">
            <a href="#edit" class="nav-link" data-toggle="tab">Edit</a>
        </li>
    }
    <li class="nav-item">
        <a href="#members" class="nav-link" data-toggle="tab">Members</a>
    </li>
    <li class="nav-item">
        <a href="#issues" class="nav-link" data-toggle="tab">Issues</a>
    </li>
    <li class="nav-item">
        <a href="#activity" class="nav-link" data-toggle="tab">Activity</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade" id="about">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatorName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateTimeCreated)
                </dd>

            </dl>
        </div>
    </div>
    @if (Model.IsCreatorOrAdmin)
    {
        <div class="tab-pane fade" id="edit">
            <div id="partialViewEdit">
            </div>
        </div>
    }
<div class="tab-pane fade" id="members">

    @if (Model.IsCreatorOrAdmin)
    {
        @Html.ActionLink("Manage members", "ManageMembers", "ProjectUser", new { projectID = Model.ProjectID }, null) <br>
        @Html.ActionLink("Add members", "ManageMembers", "ProjectUser", new { projectID = Model.ProjectID, selectTab = "AddMember" }, null)<br>
        @Html.ActionLink("Edit roles", "ManageMembers", "ProjectUser", new { projectID = Model.ProjectID, selectTab = "EditRole" }, null)
    }

    <div id="partialViewMembers"></div>
</div>
    <div class="tab-pane fade" id="issues">
        @Html.ActionLink("Manage issues", "ManageIssues", "Issue", new { projectID = Model.ProjectID }, null)<br>
        @Html.ActionLink("Create issue", "ManageIssues", "Issue", new { projectID = Model.ProjectID, selectTab = "CreateIssue" }, null)
        <div id="partialViewIssues"></div>
    </div>
    <div class="tab-pane fade" id="activity">
        <div id="partialViewActivity"></div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to project list", "ViewProjects", "Project")
</p>

@section Scripts{
    <script type="text/jscript">
        $(document).ready(function () {
            $("#about").addClass("active in");


            var projectID = @ViewBag.projectID;
            $.ajax({
                url: '/ProjectUser/ViewUsers',
                data: {
                    projectID: projectID
                },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#partialViewMembers').html(result);
                    $('#projectUserTable').DataTable({
                        columnDefs: [
                            { orderable: false, targets: 3 }
                        ]
                    });
                },
                error: function () {
                    alert(status);
                }
            });

               $.ajax({
                   url: '/Issue/ViewIssuesForProjectPartialView',
                   data: {
                       projectID: projectID,
                       viewLocation: "ViewProject"
                   },
                   contentType: 'application/html; charset=utf-8',
                   type: 'GET',
                   dataType: 'html',
                   success: function (result) {
                       $('#partialViewIssues').html(result);
                       $('#issueTable').DataTable({
                           "order": [[7, "desc"]],
                           columnDefs: [
                               { orderable: false, targets: 8 }
                           ]
                       });
                   },
                   error: function () {
                       alert(status);
                   }
               });

               $.ajax({
                   url: '/Activity/ViewActivityForProjectPartialView',
                   data: {
                       projectID: projectID
                   },
                   contentType: 'application/html; charset=utf-8',
                   type: 'GET',
                   dataType: 'html',
                   success: function (result) {
                       $('#partialViewActivity').html(result);
                       $('#activityTable').DataTable({
                           "order": [[1, 'desc']]
                       });
                   },
                   error: function () {
                       alert(status);
                   }
               });

            // cant use currently because we dont know if partialViewEdit will exist if user not admin
            if ($("#partialViewEdit").length > 0) {
                $.ajax({
                    url: '/Project/EditProject',
                    data: {
                        projectID: projectID
                    },
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#partialViewEdit').html(result);
                    },
                    error: function () {
                        alert(status);
                    }
                });
            }
  
        });
    </script>

}
