



@using (Html.BeginForm("EditProjectUserRole", "ProjectUser"@*, new { projectID = ViewBag.projectID}*@))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ProjectUserModel</h4>
    <hr />
    @if (ViewBag.editUserMessage != null)
    {

        <span class="text-danger"> @ViewBag.editUserMessage</span>

    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*jquery multiselect*@
    <div class="form-group">
        <label class="control-label col-md-2" for="projectUsers">Select users </label>
        <div class="col-md-10">
            <select id="projectUsers" data-val="true" data-val-required="Select a user." name="projectUsers" value="">
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="projectUsers" data-valmsg-replace="true" required></span>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2" for="roleSelect">Select role</label>
        <div class="col-md-10">
                <select name="Role" class="form-control">
                    <option value="Developer">Developer</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Admin">Admin</option>
                    <option value="Submitter">Submitter</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="roleSelect" data-valmsg-replace="true"></span>
</div>
    </div>

        <input name="ProjectID" style="display:none" value="@ViewBag.projectID" />

        @*    <div class="form-group">


            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

