@{
    ViewBag.Title = "Manage members";
}
<h2>Members</h2>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a href="#members" class="nav-link" data-toggle="tab">Members</a>
    </li>
    <li class="nav-item">
        <a href="#addMember" class="nav-link" data-toggle="tab">Add member</a>
    </li>
    <li class="nav-item">
        <a href="#editRoles" class="nav-link" data-toggle="tab">Edit roles</a>
    </li>

</ul>

<div class="tab-content" style="margin-bottom:50px;margin-top:50px">
    <div class="tab-pane fade" id="members">
        <div id="partialViewMembers"></div>
    </div>
    <div class="tab-pane fade" id="addMember">
        <div id="addMemberForm">
            @Html.Partial("AddProjectUserPartialView")
        </div>
    </div>
    <div class="tab-pane fade" id="editRoles">
        <div id="editRolesForm">
            @Html.Partial("EditProjectUserRolePartialView")
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Back to project", "ViewProject", "Project", new {projectID = ViewBag.projectID }, null)
</p>

@section Scripts{
    @*Autocomplete stuff*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

<script>


        $(document).ready(function () {
            var projectID = @ViewBag.projectID;

@*            $("#removeUserLink").click(function () {
                console.log("blya");
                alert("Are you sure you want to remove this user?");
            });*@


            $("#members").addClass("active");
            $("#members").addClass("in");
@*            $('#projectUserTable').DataTable({
                "ajax": {
                    url: '/ProjectUser/FindUsersInProjectJson',
                    timeout: 100,
                    data: {
                        projectID: projectID
                    },
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        alert("hello")
                    },
                    error: function () {
                        alert(status);
                    }
                }
            });*@

            // fetches project users and adds them to table
            $.ajax({
                url: '/ProjectUser/ViewUsers',
                data: {
                    projectID: projectID
                },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#partialViewMembers').html(result);
                    $('#projectUserTable').DataTable({});
                },
                error: function () {
                    alert(status);
                }
            });

           @* // fetches partial view for adding user
            $.ajax({
                url: '/ProjectUser/AddProjectUserPartialView',
                data: {
                    projectID: projectID
                },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#addMemberForm').html(result);

                },
                error: function () {
                    alert(status);
                }
            });

            // fetches partial view for editing roles
            $.ajax({
                url: '/ProjectUser/EditProjectUserRolePartialView',
                data: {
                    projectID: projectID
                },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#editRolesForm').html(result);

                },
                error: function () {
                    alert(status);
                }
            });*@

            $.ajax({
                url: '/ProjectUser/AllUserExceptAdminAndCreator',
                data: { projectID: projectID },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    var userEmails = JSON.parse(result);


                    console.log(result);
                    $("#projectUsers").selectize({
                        maxItems: null,
                        labelField: "UserEmail",
                        valueField: "ProjectUserID",
                        options: userEmails
                    });
                },
                error: function () {
                    alert(status);
                }
            });


                            $(function () {
                console.log("segs");
                var users = new Array();
                var projectID = @ViewBag.projectID;
                $.ajax({
                    url: "/ProjectUser/AllUsersEmailAndName",
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    async: false,
                    success: function (json) {
                        users = $.map(json, function (data) {
                            return {
                                label: data.Email,
                                value: data.Email,
                                name: data.FirstName + " " + data.LastName
                            };
                        });
                    }
                });
                $("#UserEmail").autocomplete({
                    minLength: 3,
                    source: users,
                    delay: 500,
                    focus: function (event, ui) {
                        $("#UserEmail").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#UserEmail").val(ui.item.label);

                        return false;
                    }
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li>")
                        .data("ui-autocomplete-item", item)
                        .append("<p>" + item.label + "<br>" + item.name + "</p>")
                        .appendTo(ul);
                };
            });
        });

</script>

}