@model IEnumerable<IssueTracker.Models.ProjectUserModel>

<table class="table" id="projectUserTable">
    <thead>
        <tr>
            @*        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*dont render remove for creator and admin*@
            <td>
                @if (item.Role != "Admin" && item.Role != "Creator" && ViewBag.isManageMembers != null)
                {
                    @Html.ActionLink("Remove", "RemoveUserFromProject", new { item.ProjectUserID, item.ProjectID }@*, new { id = "removeUserLink" }*@)
                }
            </td>
        </tr>
        }
    </tbody>

</table>
