@model IEnumerable<IssueTracker.Models.IssueModel>

@{
    ViewBag.Title = "ViewIssuesForProject";
}

<h2>ViewIssuesForProject</h2>

<p>
    @Html.ActionLink("Create New", "CreateIssue", "Issue", new {ViewBag.ProjectID}, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssigneeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssigneeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.ActionLink("Comments", "ViewCommentsForIssue","Comment", new { item.IssueID }, null) 
            @* |           @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Projects", "ViewProjects", "Project", new {}, null)
</div>
