<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/login-layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/tabsystem.css" />
    <link rel="stylesheet" type="text/css" href="~/Selectize/css/selectize.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="sidebar open">
        <div class="sidebar-logo">
            <i class="bx bxs-food-menu icon"></i>
            <div class="sidebar-logo-title">IssueTracker</div>
            <i class="bx bx-menu-alt-right" id="sidebar-button"></i>
        </div>
        <ul class="sidebar-nav">
            <li>
                <a href="@Url.Action("ViewDashboard", "Dashboard")">
                    <i class="bx bx-grid-alt"></i>
                    <span class="sidebar-nav-link">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li class="sidebar-link-grow">
                <a href="@Url.Action("Index", "Manage")">
                    <i class="bx bx-user"></i>
                    <span class="sidebar-nav-link">Profile <span style="font-size:10px;"> &#9660;</span></span>
                </a>
                <span class="tooltip">Profile</span>

                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Manage")">
                            <span class="sidebar-nav-link">View profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Manage", new { selectTab = "Notifications"})">
                            <span class="sidebar-nav-link">View Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Manage", new { selectTab = "UserActivity"})">
                            <span class="sidebar-nav-link">View Activity</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="sidebar-link-grow">
                <a href="@Url.Action("ViewProjects", "Project")">
                    <i class="bx bx-list-ul"></i>
                    <span class="sidebar-nav-link">Project  <span style="font-size:10px;"> &#9660;</span></span>
                </a>
                <span class="tooltip">Project</span>

                <ul>
                    <li>
                        <a href="@Url.Action("ViewProjects", "Project")">
                            <span class="sidebar-nav-link">Your projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CreateProject", "Project")">
                            <span class="sidebar-nav-link">New project</span>
                        </a>
                    </li>
                </ul>


            </li>
            <li class="sidebar-link-grow">
                <a href="@Url.Action("ViewAllIssues", "Issue")">
                    <i class="bx bx-list-ul"></i>
                    <span class="sidebar-nav-link">Issue  <span style="font-size:10px;"> &#9660;</span></span>
                </a>

                <span class="tooltip">Issue</span>

                <ul>
                    <li>
                        <a href="@Url.Action("ViewAllIssues", "Issue")">
                            <span class="sidebar-nav-link">Issues you created</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ViewAllIssues", "Issue", new { selectTab = "AssigneedIssue"})">
                            <span class="sidebar-nav-link">Issues assigneed to you</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="sidebar-profile">
                <div class="sidebar-profile-details">
                    @Html.Action("UserNameEmail", "Account")
                </div>
            </li>

        </ul>
    </div>

    <div class="navbar-custom">
        <div class="navbar-custom-right">
            <ul>
                @Html.Partial("_LoginPartial3")

            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E=" crossorigin="anonymous"></script>


    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Selectize/js/standalone/selectize.min.js"></script>


    @*    <script>
            $(document).ready(function () {
                $('.sidebar-button').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>*@
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#sidebar-button");
        let bodyContent = document.querySelector(".body-content");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
                $(".body-content").css({ "padding-left": "200px" });
                $(".sidebar .sidebar-link-grow ul").css({ "display": "block" });

            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
                $(".body-content").css({ "padding-left": "78px" });
                $(".sidebar .sidebar-link-grow ul").css({"display" : "none"});
            }
        }

        // not really important, only slightly improves viewing on phone
@*        $(document).ready(function () {
            if ($(window).width() <= 700) {
                $(".sidebar").removeClass("open");
                $(".body-content").css({ "padding-left": "78px" });
                $(".sidebar").css({ "left": "-20px" });
            }
        });*@
    </script>

    <script>
        $.ajax({
            url: '/Notification/ViewNotificationsNavbar',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('.notification-content ul').html(result);
            },
            error: function () {
                alert(status);
            }
        });

    </script>

    <script>
        $("#sidebar-logout-link").click(function () {
            document.getElementById('logoutForm').submit();
        });
        $("#navbar-logout-link").click(function () {
            document.getElementById('logoutForm').submit();
        });
    </script>

    <script>
        $("#notifications-navbar").hover(function () {
            $(".notificationBox").addClass("showNotification");
        }, function () {
            $(".notificationBox").removeClass("showNotification");
        });

        $("#profile-navbar").hover(function () {
            $(".profileBox").addClass("showNotification");
        }, function () {
            $(".profileBox").removeClass("showNotification");
        });

    </script>

</body>
</html>