
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li id="notifications-navbar">
        <a href="#">
            <span class="sidebar-nav-link"><span class="navbar-link-text">Notifications</span></span>
            <i class="bx bx-bell"></i>
        </a>
        <div class="notificationBox">
            <div class="notification-content">
                <ul>
                    <!--Notification content goes here-->
                </ul>
                <div class="notification-bottom">
                    <a href="@Url.Action("Index", "Manage", new {selectTab = "Notifications" })" id="navbar-logout-link"><span class="sidebar-nav-link">See all</span></a>
                </div>
            </div>

        </div>
    </li>
    <li id="profile-navbar">
        <a href="#">
            <span class="sidebar-nav-link"><span class="navbar-link-text">User</span></span>
            <i class="bx bx-user"></i>
        </a>
        <div class="profileBox">
            <div class="profile-content">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="#" id="navbar-logout-link"><span class="sidebar-nav-link">Log out</span></a>
                }
                <a href="@Url.Action("Index", "Manage")"><span class="sidebar-nav-link">View Profile</span></a>
                <a href="@Url.Action("Index", "Manage", new {selectTab = "Notifications" })"><span class="sidebar-nav-link">View Notifications</span></a>
                <a href="@Url.Action("Index", "Manage", new {selectTab = "UserActivity" })"><span class="sidebar-nav-link">View Activity</span></a>
            </div>

        </div>
    </li>
}
else
{
    <li><a href="@Url.Action("Register", "Account")" id="registerLink"><span class="sidebar-nav-link">Register</span></a></li>
    <li><a href="@Url.Action("Login", "Account")" id = "loginLink"><span class="sidebar-nav-link">Log in</span></a></li>
}

