@model IEnumerable<IssueTracker.Models.CommentModel>



<table class="table" id="commentTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCreated)
            </td>
            <td>     
                @if (item.UserIsAuthor)
                {

                    <a href="@Url.Action("RemoveComment", "Comment", new { commentID = item.CommentID, issueID = item.IssueID })" style="text-decoration: none;"><span style="font-weight:800;color:red;">X</span> </a>
                }
            </td>
  
        </tr>
        }
    </tbody>

</table>
